.card-footer a, .card-footer span {
	margin-left: 5px;
}

.card-footer {
	text-align: right;
}

.card {
	padding: 10px;
	margin-bottom: 10px;
	color: white;
	border-radius: 5px;
}
div[contenteditable] {
	padding: 5px;
	outline: none;
	min-height: 30px; 
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}
div[contenteditable]:focus {
	cursor: text;
}

.card a {
	color: white;
}

button {
	background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    margin-right: 10px;
}

.cancel-btn {
	padding: 0 5px;
}